PORT=3000

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID_GATEWAY=eventgate-gateway
KAFKA_CLIENT_ID_WRITER=eventgate-writer
KAFKA_GROUP_ID=autoops-couchbase-writer-v1
KAFKA_TOPIC_RAW=ops.elastic.autoops.raw.v1
KAFKA_TOPIC_EVENTS=ops.elastic.autoops.events.v1
KAFKA_TOPIC_DLQ=ops.elastic.autoops.dlq.v1

COUCHBASE_CONNSTR=couchbase://localhost
COUCHBASE_USERNAME=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_BUCKET=ops
COUCHBASE_SCOPE=_default
COUCHBASE_HISTORY_COLLECTION=autoops_events
COUCHBASE_STATE_COLLECTION=autoops_state

TENANT=elastic-cloud
ENVIRONMENT=dev
LOG_LEVEL=info
